body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8cfef;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
}

.container {
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kawaii-image {
    width: 160px;
    animation: float 2s ease-in-out infinite;
}
   
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

h1 {
    color: #ff3366;
}

.buttons {
    margin-top: 20px;
}

#noButton {
    background-color: #63c9f1;
    position: relative;
}

button {
    background-color: #ff3366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
    width: 300px;
    animation: float 2s ease-in-out infinite;
    height: auto;
}

.secondImage {
    width: 300px;
    animation: float 2s ease-in-out infinite;
    height: auto;
    margin: 155;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}